<h2>Categorias: </h2>
<hr>
<a href="/admin/categorias"><button class="btn btn-success" type="button">Categorias</button></a>
<hr>
<h2>Postagens: </h2>
<hr>
<a href="/admin/postagens"><button class="btn btn-success" type="button">Postagens</button></a>